<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.filter.ExpressionFilter">
            <param name="Expression" value="EXCEPTION ~= eu.freme.broker.exception.AccessDeniedException || EXCEPTION ~=org.springframework.security.access.AccessDeniedException"/>
            <param name="AcceptOnMatch" value="false"/>
        </filter>
    </appender>
    <logger name="com.github.isrsal.logging.LoggingFilter">
        <level value="DEBUG"/>
    </logger>

    <root>
        <priority value ="INFO" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>